<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    {{>header}}
    <div class="container">
        <h2>{{title}}</h2>
        <h3>{{desc}}</h3>
        <div>
            <img src="images/map.jpg" alt="" />
        </div>

    </div>
    {{>footer}}
 <script type="js/script.js" src=""></script>   
</body>
</html>